<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width">
    <base href="/">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/stylus.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- endbuild -->
  </head>
  <body ng-app="postApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="wrapper" ng-controller="appCtrl">
        <div class="side-top">
            <div class="top">
                {{weekdays[today.weekday]}} the {{today.day}}th/rd - {{today.year}}/{{today.month}}
                Hour: {{today.hour}},
                Tasks: {{calendar.year[today.year][today.month][today.day].length}}
                <br/>

            </div>
        </div>
        <div class="side-middle">
            <ng-line-calendar>
                <div class="month-select" id="month-scroll">
                    <nav class="inline calendar" >
                        <ul id="months">
                            <li ng-repeat="month in months" ng-swipe-left="getMonth(year, currentmonth + 1, 'next')" ng-swipe-right="getMonth(year, currentmonth + 1, 'previous')">
                                <div class="cursor month-previous" ng-click="getMonth(year, currentmonth + 1, 'previous')" ng-show="month === months[currentmonth]">
                                    <svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306 306" >
                                        <g><polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"/></g>
                                    </svg>
                                </div>
                                <div class="month-label">
                                    <div class="valign">
                                        <div class="middle cursor" ng-click="switch()">{{month.name}}</div>
                                    </div>
                                </div>
                                <div class="cursor month-next" ng-click="getMonth(year, currentmonth + 1, 'next')" ng-show="month === months[currentmonth]">
                                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306 306" >
                                        <g><polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"/></g>
                                    </svg>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="daygrid-select ng-hide" id="days-grid" ng-show="calendarType === 'grid'" ng-swipe-left="getMonth(year, currentmonth + 1, 'next')" ng-swipe-right="getMonth(year, currentmonth + 1, 'previous')">
                    <ul>
                        <li ng-repeat="day in calendar.year[year][currentmonth+1]"
                            ng-click="getDay($index+1, 'specific'); dayExpand($index+1); switch();"
                            ng-class="{expand: activeday == $index+1, active: currentday == $index+1}"
                            class="cursor"
                            data-id="{{$index+1}}">
                            <div class="task-percent" ng-style="taskPercent(calendar.year[year][currentmonth+1][{{$index+1}}].length)"></div>
                            <div class="valign">
                                <div class="middle">{{$index+1}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dayline-select" id="day-scroll" ng-show="calendarType === 'line'">
                    <nav class="inline calendar" >
                        <ul id="days">
                            <li ng-repeat="day in days" ng-swipe-right="getDay(currentday-1, 'previous')" ng-swipe-left="getDay(currentday+1, 'next')">
                                <div class="cursor month-previous" ng-click="getDay(currentday-1, 'previous')" ng-show="$index+1 === currentday">
                                    <svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306 306" >
                                        <g><polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"/></g>
                                    </svg>
                                </div>
                                <div class="month-label">
                                    <!-- <div class="task-percent" ng-style="taskPercent(calendar.year[year][currentmonth+1][{{$index+1}}].length)"></div> -->
                                    <div class="valign">
                                        <div class="middle">{{$index+1}}</div>
                                    </div>
                                </div>
                                <div class="cursor month-next" ng-click="getDay(currentday+1, 'next')"  ng-show="$index+1 === currentday">
                                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306 306" >
                                        <g><polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"/></g>
                                    </svg>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <p>day: {{weekday}}</p>
                <div class="hours" id="hours">
                    <ul>
                        <li class="hour" ng-repeat="task in calendar.year[year][currentmonth+1][currentday]">
                            <div class="valign">
                                <div class="middle">{{task.task}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </ng-line-calendar>
        </div>
        <div class="side-bottom">
            <div class="left-info">
            </div>
            <div class="right-buttons">
                <ul>
                    <li>
                        <div class="cursor icon">
                            <svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306 306" >
                                <g><polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"/></g>
                            </svg>
                        </div>
                    </li>
                    <li class="separator-left">
                        <div class="cursor icon">
                            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306 306" >
                                <g><polygon points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153"/></g>
                            </svg>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-54941776-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/hamsterjs/hamster.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <script src="scripts/controllers/controller.js"></script>

        <script src="scripts/directives/linecalendar.js"></script>

        <script src="scripts/services/socket.js"></script>
        <script src="scripts/services/calendar.js"></script>
        <script src="scripts/services/scroll.js"></script>

        <script src="scripts/filters/slug.js"></script>

        <!-- endbuild -->
        <script src="/socket.io/socket.io.js"></script>

</body>
</html>
