.aspect
  width 100%
  margin 0 auto
  &:before
    content ""
    display block
    padding-top 33.33%
    //padding-top 20%
  .clock
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    .cells
      // transform skewX(10deg)
      width calc( 25% - ( 25% / 3.333 ) ) !important
      height 100%
      float left
      margin-right calc( 25% / 3 )
      &:nth-child(2n+2)
        margin-right calc( (25% / 3) + ( (25% / 3) / 2 ) )
        &:after, &:before
          content ''
          position absolute
          width 5px
          height 5px
          background #444
        &:after
          left calc( 100% + ( 33.333% / 2 ) )
          top 25%
        &:before
          left calc( 100% + ( 33.333% / 2 ) )
          bottom 25%
      &:last-child
        margin 0
        &:after, &:before
          display none

.testbar
  background black
  position absolute
  transition opacity 0.25s ease-in-out
  background #444
  border-color #444
  &:before, &:after
    content ''
    position absolute
    border 5px solid transparent

  &:nth-child(1) //TOP LEFT
    width 5px
    left 0px
    top 6px
    height calc( 50% - 12px )
    &:before
      right 0px
      top -5px
      border-width 0 5px 5px 0
      border-bottom-color inherit
    &:after
      right 0px
      bottom -5px
      border-width 5px 5px 0 0
      border-top-color inherit

  &:nth-child(2) // TOP
    left 6px
    width calc( 100% - 12px )
    height 5px
    &:before
      left -5px
      top 0px
      border-width 5px 0 0 5px
      border-top-color inherit
    &:after
      right -5px
      top 0px
      border-width 5px 5px 0 0
      border-top-color inherit

  &:nth-child(3) // TOP RIGHT
    width 5px
    right 0px
    top 6px
    height calc( 50% - 12px )
    &:before
      left 0px
      top -5px
      border-width 0 0 5px 5px
      border-bottom-color inherit
    &:after
      left 0px
      bottom -5px
      border-width 5px 0 0 5px
      border-top-color inherit

  &:nth-child(4) // MIDDLE
    left 4px
    width calc( 100% - 8px )
    top calc( 50% - 3px )
    height 6px
    &:before
      left -6px
      top 0px
      border-width 3px 3px 3px 3px
      border-right-color inherit
    &:after
      right -6px
      top 0px
      border-width 3px 3px 3px 3px
      border-left-color inherit

  &:nth-child(5) //BOTTOM LEFT
    width 5px
    left 0px
    top calc( 50% + 6px )
    height calc( 50% - 12px )
    &:before
      right 0px
      top -5px
      border-width 0 5px 5px 0
      border-bottom-color inherit
    &:after
      right 0px
      bottom -5px
      border-width 5px 5px 0 0
      border-top-color inherit

  &:nth-child(6) // BOTTOM
    left 6px
    width calc( 100% - 12px )
    bottom 0px
    height 5px
    &:before
      left -5px
      top 0px
      border-width 0 0 5px 5px
      border-bottom-color inherit
    &:after
      right -5px
      top 0px
      border-width 0 5px 5px 0
      border-bottom-color inherit

  &:nth-child(7) // BOTTOM RIGHT
    width 5px
    right 0px
    top calc( 50% + 6px )
    height calc( 50% - 12px )
    &:before
      left 0px
      top -5px
      border-width 0 0 5px 5px
      border-bottom-color inherit
    &:after
      left 0px
      bottom -5px
      border-width 5px 0 0 5px
      border-top-color inherit

