@media (max-width: 1400px)

    body
      padding 0px !important

    .wrapper
      border-radius 0px !important
      box-shadow 0
    // .sidepanel
    //     width 300px !important

    // .maincontent
    //     width calc( 100% - 300px ) !important
    //