<div class="today separator-bottom">
    <div class="valign">
        <div class="middle">{{year}}/{{month}}/{{day}} </div>
    </div>
</div>
<div class="hour" ng-repeat="hour in hours" >
    <nav class="inline separator-bottom">
        <ul>
            <li class="task-leftoff">
            </li>
            <li class="task-label">
                <div class="day-circle"></div>
                {{$index+1}}
            </li>

            <li class="task separator-right" ng-repeat="task in hour">
                {{task.task}}
                <div class="remove" ng-click="deletePost(hour,task,$index)"></div>
            </li>
            <li class="cursor task">
                <form class="post-form" ng-submit="addPost($index+1)" ng-show="addtask">
                    <input name="task" type="text" placeholder="task" ng-model="form.task" autofocus="" />

                    <button type="submit" class="button button-ok" ng-click="addtask = false">Post</button>
                    <div class="button button-cancel" ng-click="addtask = false">Cancel</div>
                    <div style="clear:both"></div>
                </form>
                <div class="addtask" ng-click="addtask = true" ng-show="!addtask">Add</div>
            </li>
        </ul>
    </nav>
</div>